[postgres]
host = "db"
database = "compliancedb"
user = "complianceuser"
password = ""  # Will be auto-filled from environment

[aws]
access_key_id = ""  # Will be auto-filled from environment
secret_access_key = ""  # Will be auto-filled from environment
region = "us-east-1"

